@import './../../node_modules/angular-material/angular-material.css';

//  General  //
$blue-color: #00bff3;
$green-color: #95c948;
$red-color: #ec4e2c;
$btn-border: 1px solid #b1b1b1;
$text-transform: none;

body {
  text-align: center;
}

html, body, main {
  height: 100%;
}

<<<<<<< 061ae7223cc65d4138b738a8b663a312d1b3b2bc
.hero-container {
=======
.hero-container{
>>>>>>> LVRUBYM-221:Fixed name of file
  display: block;
  height: 100%;
}

<<<<<<< 061ae7223cc65d4138b738a8b663a312d1b3b2bc
.md-accent {
=======
.md-accent{
>>>>>>> LVRUBYM-221:Fixed name of file
  color: white !important;
}

//  Header  //
.header {
  $font-size: 45px;
  $cursor: pointer;
  $color: #95c948;

  .logo {
    width: 270px;

    img {
      height: 70px;
    }
  }

  md-toolbar {
    background: white;
  }

  md-select {
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-size: 14px;
    height: 38px;
    padding: 0 10px;

    &:hover {
      border: 1px solid #428bca;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
  }

  .today {
    color: $color;
    cursor: $cursor;
    font-size: $font-size;
    margin: 0 10px;

  }

  .chevron {
    cursor: $cursor;
    font-size: $font-size;
  }

  .avatar {
    border-radius: 50%;
    height: 50px;
    margin: 0 8px 0 0;
    min-width: 50px;
    width: 50px;
  }

  .user-button {
    height: 64px;
    margin: 0;
    padding: 0 16px;
    text-transform: none;
  }

  .username {
    margin: 10px;
  }

  .number {
    color: $color;
    font-size: 30px;
  }

  .month {
    color: $color;
    font-size: 20px;
  }

  .day {
    color: #b1b1b1;
  }

  .data {
    margin: 0 10px 0 30px;
    width: 100px;
  }

  .date {
    margin-left: 15px;
  }
}

//  Sidebar  //

nav {
  border: 1px solid #ebebeb;
  max-width: 270px;

  a {
    color: #9c9d9d;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    .journal {
      background-color: #92c948;
      cursor: pointer;
      margin-bottom: 15px;
      padding: 3px 0;
      text-align: left;
      width: 100%;

      a {
        color: #fff;
        display: block;
        padding: 15px 0 15px 90px;
        position: relative;
        text-decoration: none;

        &::before {
          background-image: url('../img/icon/journal.svg');
          color: white;
          content: ' ';
          display: block;
          height: 40px;
          left: 35px;
          position: absolute;
          top: 5px;
        }
      }
    }

    ul {
      .active {
        border-left: 5px solid #92c948;
        max-width: 263px;

        a {
          color: #92c948;
          display: block;
          padding: 10px 0 10px 125px;
          position: relative;
        }
      }

      li {
        padding-top: 5px;
        position: relative;
        width: 100%;

        &:hover {
          background-color: #eee;
        }

        a {
          display: block;
          padding: 10px 0 10px 130px;
          position: relative;

          &::before {
            content: ' ';
            display: block;


            height: 34px;
            position: absolute;
            right: 150px;
            top: 0;
            width: 34px;
          }
        }

        &:first-of-type {
          a {
            &::before {
              background-image: url('../img/icon/attendance.svg');
            }
          }
        }

        &:nth-of-type(2) {
          a {
            &::before {
              background-image: url('../img/icon/health.svg');
            }
          }
        }

        &:nth-of-type(3) {
          a {
            &::before {
              background-image: url('../img/icon/bottle.svg');
            }
          }
        }

        &:nth-of-type(4) {
          a {
            &::before {
              background-image: url('../img/icon/meals.svg');
            }
          }
        }

        &:nth-of-type(5) {
          a {
            &::before {
              background-image: url('../img/icon/potty.svg');
            }
          }
        }

        &:nth-of-type(6) {
          a {
            &::before {
              background-image: url('../img/icon/nap.svg');
            }
          }
        }

        &:nth-of-type(7) {
          a {
            &::before {
              background-image: url('../img/icon/reward.svg');
            }
          }
        }

        &:nth-of-type(8) {
          a {
            &::before {
              background-image: url('../img/icon/supplies.svg');
            }
          }
        }

        &:nth-of-type(9) {
          a {
            &::before {
              background-image: url('../img/icon/ourday.svg');
              color: purple;
            }
          }
        }

        &:last-of-type {
          a {
            &::before {
              background-image: url('../img/icon/myday.svg');
              color: blue;
            }
          }
        }
      }
    }
  }
}

//  Login component  //

login-component {
  .hero-container{
    background-image: url('../img/misc/pattern.png');
  }

  .login-form {
    width: 300px;
    margin-top: 15vh;
  }
}
//  Bottle Report component  //

.container {
  border-bottom: 1px solid gainsboro;
}

.addbottle {
  top: 45px;
}

.bottles {
  display:inline-block;
  width:300px;
  float: left;
}

.display {
  display: inline-block;
}

.buttonposition {
  float: left;
  width: 20%;
  height: 100%;
}

.position {
  float: right;
  width: 80%;
  height: 100%;
}

.invalid {
  color: red;
  font-size: 14px;
}


//style for static.html
@mixin border {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

@mixin btn-font {
  font-size: 18pt;
  font-weight: 900;
}

.btn {
  &:not([disabled]) {
    border-radius: 13px;
    font-size: 16px;
    font-weight: 200;
    padding: 2px 12px;
    text-transform: $text-transform;

    &:hover {
      background-color: white;
    }
  }
}

.green-btn {
  background-color: $green-color;
  border: 1px solid $green-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      background-color: $green-color;
      border: 1px solid $green-color;
      color: #fff;
    }
  }
}


.gray-btn {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #55585e;

  &:not([disabled]) {
    &:hover {
      background-color: #e5e4e4;
      color: #55585e;
    }

    &:focus {
      border: 1px solid #55585e;
    }
  }
}

<<<<<<< 8e755c941e1599e7941a3fe118b61f581682a2f1
<<<<<<< 5846dbb9a8cee90083bef2dfc055f7584d026f6a
    .button {
      background-color: yellowgreen;
      color: white;
      position: relative;
      top:10px;
      right: 10px;
      text-align: center;
      width: 150px;
      border-radius: 30px;
      padding: 10px;
      margin-top: 10px;
    }
<<<<<<< 061ae7223cc65d4138b738a8b663a312d1b3b2bc
}

//style for static.html
@mixin border {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

@mixin btn-font {
  font-size: 18pt;
  font-weight: 900;
}

.btn {
  &:not([disabled]) {
    border-radius: 13px;
    font-size: 16px;
    font-weight: 200;
    padding: 2px 12px;
    text-transform: $text-transform;

    &:hover {
      background-color: white;
    }
=======
=======
      .button {
        background-color: yellowgreen;
        color: white;
        position: relative;
        top:10px;
        right: 10px;
        text-align: center;
        width: 150px;
        border-radius: 30px;
        padding: 10px;
        margin-top: 10px;
      }
>>>>>>> LVRUBYM-221:Added indentations
=======

.report {
  @include border;
  background-color: #fff;

  .student {
    margin: 10px 150px 10px 10px;

    .avatar {
      border-radius: 50%;
      height: 70px;
      margin: 15px 20px 15px 100px;
      min-width: 70px;
      width: 70px;
    }

    .name {
      color: #55585e;
      font-size: 20px;
      font-weight: 300;

      .first-name {
        padding-bottom: 5px;
      }
    }
  }
}

.green-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 20px 0 0 20px;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $green-color;
      color: #fff;
    }

    &:focus {
      background-color: $green-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $green-color;
        color: #55585e;
>>>>>>> LVRUBYM-221:Changed template

      }

<<<<<<< 8e755c941e1599e7941a3fe118b61f581682a2f1
<<<<<<< 5846dbb9a8cee90083bef2dfc055f7584d026f6a
  .time_input {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
>>>>>>> LVRUBYM-221:Fixed name of file
  }
}

<<<<<<< 061ae7223cc65d4138b738a8b663a312d1b3b2bc
.green-btn {
  background-color: $green-color;
  border: 1px solid $green-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      background-color: $green-color;
      border: 1px solid $green-color;
      color: #fff;
    }
  }
}


.gray-btn {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #55585e;

  &:not([disabled]) {
    &:hover {
      background-color: #e5e4e4;
      color: #55585e;
    }

    &:focus {
      border: 1px solid #55585e;
    }
  }
}


.report {
  @include border;
  background-color: #fff;

  .student {
    margin: 10px 150px 10px 10px;

    .avatar {
      border-radius: 50%;
      height: 70px;
      margin: 15px 20px 15px 100px;
      min-width: 70px;
      width: 70px;
    }

    .name {
      color: #55585e;
      font-size: 20px;
      font-weight: 300;

      .first-name {
        padding-bottom: 5px;
      }
    }
  }
}

.green-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 20px 0 0 20px;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $green-color;
      color: #fff;
    }

    &:focus {
      background-color: $green-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $green-color;
        color: #55585e;

      }

=======
>>>>>>> LVRUBYM-221:Changed template
    }
  }
}

.red-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 0 20px 20px 0;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $red-color;
      color: #fff;
    }

    &:focus {
      background-color: $red-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $red-color;
        color: #55585e;

<<<<<<< 8e755c941e1599e7941a3fe118b61f581682a2f1
      }
    }

  }
}


.group-btn {
  margin: 10px 0;
  min-height: 25px;
  min-width: 200px;
  padding: 3px 15px;

}

.input-time {
  background-color: #fff;
  border: 1px solid transparent;
  color: #6e6b6b;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 30px;
  margin: 0 60px;
  outline: none;
  resize: none;
  text-align: center;
  width: 85px;

  &:hover {
    border: 1px solid #dfdbdb;
    border-radius: 12px;
  }
}

.blue-btn {
  background-color: $blue-color;
  border: 1px solid $blue-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      border: 1px solid $blue-color;
    }
  }
}

.blue-select {
  &:not([disabled]) {
    background-color: #fff;
    border-bottom: 2px solid $blue-color;
    font-size: 14px;
    height: 38px;

    .md-select-icon {
      border-bottom: 13px solid $blue-color;
      border-left: 13px solid transparent;
      height: 0;
      left: 6px;
      margin-left: 15px;
      position: relative;
      top: 12px;
      width: 0;

      &::after {
        content: '';
      }
    }
  }
}

.general {
  border: 1px solid #cdcdd5;
  border-radius: 10px;
  color: #82838a;
  font-family: 'Lato', sans-serif;
  height: 75px;
  min-width: 420px;
  padding: 11px 25px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.class-notes {
  height: 125px;
  @extend.general;
}

button {
  &.md-raised {
    border: 1px solid #00bff3;

    &:not([disabled]) {
      .add {
        color: #00bff3;

      }
    }
  }
}

// ToggleMessages //

md-toast .md-toast-content{
  position: relative;
  background-color: #666;

  button {
    position: absolute;
    top: 0;
    right: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
}


.md-top{
  .md-toast-content{
    margin-bottom: 20px;
  }
}

.md-bottom{
  .md-toast-content{
    margin-top: 20px;
=======
  md-select {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    position: relative;
    left: 180px;
>>>>>>> LVRUBYM-221:Fixed name of file
  }
=======
      .time_input {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 10px;
        text-align: center;
        margin-top: 10px;
=======
>>>>>>> LVRUBYM-221:Changed template
      }
    }

  }
}


.group-btn {
  margin: 10px 0;
  min-height: 25px;
  min-width: 200px;
  padding: 3px 15px;

}

.input-time {
  background-color: #fff;
  border: 1px solid transparent;
  color: #6e6b6b;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 30px;
  margin: 0 60px;
  outline: none;
  resize: none;
  text-align: center;
  width: 85px;

  &.time {
    margin:0 5px;
   }
  &:hover {
    border: 1px solid #dfdbdb;
    border-radius: 12px;
  }
}

.blue-btn {
  background-color: $blue-color;
  border: 1px solid $blue-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      border: 1px solid $blue-color;
    }
  }
}

.blue-select {
  &:not([disabled]) {
    background-color: #fff;
    border-bottom: 2px solid $blue-color;
    font-size: 14px;
    height: 38px;

    .md-select-icon {
      border-bottom: 13px solid $blue-color;
      border-left: 13px solid transparent;
      height: 0;
      left: 6px;
      margin-left: 15px;
      position: relative;
      top: 12px;
      width: 0;

      &::after {
        content: '';
      }
    }
  }
}

.general {
  border: 1px solid #cdcdd5;
  border-radius: 10px;
  color: #82838a;
  font-family: 'Lato', sans-serif;
  height: 75px;
  min-width: 420px;
  padding: 11px 25px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.class-notes {
  height: 125px;
  @extend.general;
}

button {
  &.md-raised {
    border: 1px solid #00bff3;

    &:not([disabled]) {
      .add {
        color: #00bff3;

      }
<<<<<<< 8e755c941e1599e7941a3fe118b61f581682a2f1
>>>>>>> LVRUBYM-221:Added indentations
=======
    }
  }
>>>>>>> LVRUBYM-221:Changed template
}
