<<<<<<< 4ac206c3f8407533b45b4da3e6228fe26dd4aeb9
=======
h1 {
 color:silver;
}
body{
  text-align:center;
}
main {
  border: 1px solid grey;
}
app-navbar{
  border: 1px solid lightblue;
  max-width:270px;
}
>>>>>>> LVRUBYM-312: Fixed
