@import './../../node_modules/angular-material/angular-material.css';

<<<<<<< HEAD
//  General  //
=======
>>>>>>> LVRUBYM-344: Create main template style
$blue-color: #00bff3;
$green-color: #95c948;
$red-color: #ec4e2c;
$btn-border: 1px solid #b1b1b1;
$text-transform: none;

body {
<<<<<<< HEAD
  text-align: center;
}

html, body, main {
  height: 100%;
}

.hero-container {
  display: block;
  height: 100%;
}

.md-accent {
  color: white !important;
=======
  font-family: 'Lato', sans-serif;
  // text-align: center;
>>>>>>> LVRUBYM-344: Create main template style
}

.header {
  margin: 10px 30px 0;
  $font-size: 45px;
  $cursor: pointer;
  $color: #95c948;

  .logo {
    width: 200px;

    img {
      height: 45px;
    }
  }

  md-toolbar {
    background: white;
  }

  .group-select {
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-size: 14px;
    height: 38px;
    padding: 0 10px;

    &:hover {
      border: 1px solid #428bca;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }
}

  .calendar {
    margin-right: 150px;

    a {
      cursor: pointer;
      margin: 13px 25px;

      &.calendar-img {
        cursor: pointer;
        margin: 8px;
      }
    }
  }

  .avatar {
    border-radius: 50%;
    height: 50px;
    margin: 0 8px 0 0;
    min-width: 50px;
    width: 50px;
  }

  .user-button {
    height: 64px;
    margin: 0;
    padding: 0 16px;
    text-transform: none;
  }

  .username {
    margin: 10px;
  }

  .number {
    color: $color;
    font-size: 35px;
  }

  .month {
    color: $green-color;
    font-size: 20px;
  }

  .day {
    color: #c3c3c3;
  }

  .data {
    margin: 0 10px 0 30px;
    width: 100px;
  }

  .date {
    margin-left: 15px;
  }
}

.teacher-report {
  @mixin background-image {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .navbar {
    min-width: 272px;

    .menu {
      list-style-type: none;
      padding-left: 0;

      div {
        li {
          &.menu-item {
            border-left: 5px solid transparent;
            outline: none;
            width: 100%;

            &:hover {
              color: $green-color;
            }

            &.active-menu {
              background-color: $green-color;
              margin-bottom: 15px;
              padding: 3px 0;
              text-align: left;
              width: 100%;

              a {
                color: #fff;
                display: block;
                font-weight: bold;
                padding: 15px 0 15px 90px;
                position: relative;
                text-decoration: none;

                &:hover {
                  color: #fff;
                }
              }

              // &:first-of-type {
              //   a {
              //     &::before {
              //       background-image: url('../img/Out/TeacherReportActive.svg');
              //     }
              //   }
              // }

              // &:nth-of-type(2) {
              //   a {
              //     &::before {
              //       background-image: url('../img/Out/ParentSharingActive.svg');
              //     }
              //   }
              // }
            }

            a {
              display: block;
              padding: 20px 0 20px 100px;
              position: relative;

              &:hover {
                color: $green-color;
                display: block;
              }

              &::before {
                @include background-image;
                bottom: 7px;
                content: ' ';
                display: block;
                height: 40px;
                position: absolute;
                right: 210px;
                width: 40px;
              }
            }
          }
        }

        //start of menu images
        &:first-of-type {
          a {
            &::before {
              background-image: url('../img/Out/TeacherReport.svg');
            }
          }
        }

        &:nth-of-type(2) {
          a {
            &::before {
              background-image: url('../img/Out/ParentSharing.svg');
            }
          }
        }

        &:nth-of-type(3) {
          a {
            &::before {
              background-image: url('../img/Out/Messages.svg');
            }
          }
        }

        &:nth-of-type(4) {
          a {
            &::before {
              background-image: url('../img/Out/Notifications.svg');
            }
          }
        }

        &:nth-of-type(5) {
          a {
            &::before {
              background-image: url('../img/Out/Calendar.svg');
            }
          }
        }

        &:nth-of-type(6) {
          a {
            &::before {
              background-image: url('../img/Out/PhotoGallery.svg');
            }
          }
        }

        &:nth-of-type(7) {
          a {
            &::before {
              background-image: url('../img/Out/Rewards.svg');
            }
          }
        }

        &:nth-of-type(8) {
          a {
            &::before {
              background-image: url('../img/Out/Contacts.svg');
            }
          }
        }
        //end of menu images

        //start of submenu
        ul {
          list-style-type: none;
          padding-left: 0;

          &.submenu {
            &.opened {
              display: initial;
            }

            &.closed {
              display: none;
            }

            li {
              border-left: 5px solid transparent;
              cursor: pointer;
              outline: none;
              padding: 5px 0 4px;
              position: relative;
              width: 100%;

              &:hover {
                color: $green-color;
              }

              &.active-submenu {
                background-color: #eee;
                border-left: 5px solid $green-color;

                a {
                  color: $green-color;
                  font-weight: bold;
                }

                //active submenu images
              }

              a {
                color: #9c9d9d;
                display: block;
                padding: 10px 0 10px 125px;
                position: relative;

                &:hover {
                  color: $green-color;
                  display: block;
                  position: relative;
                }

                &::before {
                  @include background-image;
                  content: ' ';
                  display: block;
                  height: 34px;
                  position: absolute;
                  right: 175px;
                  top: 0;
                  width: 34px;
                }
              }

              //start of submenu images
              &:first-of-type {
                a {
                  &::before {
                    background-image: url('../img/Out/Presence.svg');
                  }
                }
              }

              &:nth-of-type(2) {
                a {
                  &::before {
                    background-image: url('../img/Out/Diet.svg');
                  }
                }
              }

              &:nth-of-type(3) {
                a {
                  &::before {
                    background-image: url('../img/Out/Bottle.svg');
                  }
                }
              }

              &:nth-of-type(4) {
                a {
                  &::before {
                    background-image: url('../img/Out/Meals.svg');
                  }
                }
              }

              &:nth-of-type(5) {
                a {
                  &::before {
                    background-image: url('../img/Out/Potty.svg');
                  }
                }
              }

              &:nth-of-type(6) {
                a {
                  &::before {
                    background-image: url('../img/Out/Nap.svg');
                  }
                }
              }

              &:nth-of-type(7) {
                a {
                  &::before {
                    background-image: url('../img/Out/Reward.svg');
                  }
                }
              }


              &:nth-of-type(8) {
                a {
                  &::before {
                    background-image: url('../img/Out/PersonalNotes.svg');

                  }
                }
              }

              &:last-of-type {
                a {
                  &::before {
                    background-image: url('../img/Out/ClassNotes.svg');
                  }
                }
              }
              //end of submenu images
            }
          }
        }
        //end of submenu
      }

    }
  }

  a {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
  }

}

//style for static.html

@mixin border {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

@mixin btn-font {
  font-size: 18pt;
  font-weight: 900;
}

.btn {
  &:not([disabled]) {
    border-radius: 13px;
    font-size: 16px;
    font-weight: 200;
    padding: 2px 12px;
    text-transform: $text-transform;

    &:hover {
      background-color: white;
    }
  }
}

.green-btn {
  background-color: $green-color;
  border: 1px solid $green-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      background-color: $green-color;
      border: 1px solid $green-color;
      color: #fff;
    }
  }
}


.gray-btn {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #55585e;

  &:not([disabled]) {
    &:hover {
      background-color: #e5e4e4;
      color: #55585e;
    }

    &:focus {
      border: 1px solid #55585e;
    }
  }
}


.report {
  @include border;
  background-color: #fff;

  .student {
    margin: 10px 150px 10px 10px;

    .avatar {
      border-radius: 50%;
      height: 70px;
      margin: 15px 20px 15px 100px;
      min-width: 70px;
      width: 70px;
    }

    .name {
      color: #55585e;
      font-size: 20px;
      font-weight: 300;

      .first-name {
        padding-bottom: 5px;
      }
    }
  }
}

.green-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 20px 0 0 20px;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $green-color;
      color: #fff;
    }

    &:focus {
      background-color: $green-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $green-color;
        color: #55585e;

      }

    }
  }
}

.red-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 0 20px 20px 0;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $red-color;
      color: #fff;
    }

    &:focus {
      background-color: $red-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $red-color;
        color: #55585e;

      }
    }

  }
}


.group-btn {
  margin: 10px 0;
  min-height: 25px;
  min-width: 200px;
  padding: 3px 15px;

}

.input-time {
  background-color: #fff;
  border: 1px solid transparent;
  color: #6e6b6b;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 30px;
  margin: 0 60px;
  outline: none;
  resize: none;
  text-align: center;
  width: 85px;

  &:hover {
    border: 1px solid #dfdbdb;
    border-radius: 12px;
  }
}

.blue-btn {
  background-color: $blue-color;
  border: 1px solid $blue-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      border: 1px solid $blue-color;
    }
  }
}

.blue-select {
  &:not([disabled]) {
    background-color: #fff;
    border-bottom: 2px solid $blue-color;
    font-size: 14px;
    height: 38px;

    .md-select-icon {
      border-bottom: 13px solid $blue-color;
      border-left: 13px solid transparent;
      height: 0;
      left: 6px;
      margin-left: 15px;
      position: relative;
      top: 12px;
      width: 0;

      &::after {
        content: '';
      }
    }
  }
}

.general {
  border: 1px solid #cdcdd5;
  border-radius: 10px;
  color: #82838a;
  font-family: 'Lato', sans-serif;
  height: 75px;
  min-width: 420px;
  padding: 11px 25px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.class-notes {
  height: 125px;
  @extend.general;
}

button {
  &.md-raised {
    border: 1px solid #00bff3;

    &:not([disabled]) {
      .add {
        color: #00bff3;

      }
    }
  }
}

//  Bottle Report component  //

.container {
  border-bottom: 1px solid gainsboro;
}

.addbottle {
  top: 45px;
}

.bottles {
  display:inline-block;
  width:300px;
  float: left;
}

.display {
  display: inline-block;
}

.buttonposition {
  float: left;
  width: 20%;
  height: 100%;
}

.position {
  float: right;
  width: 80%;
  height: 100%;
}

.invalid {
  color: red;
  font-size: 14px;
}


//style for static.html
@mixin border {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

@mixin btn-font {
  font-size: 18pt;
  font-weight: 900;
}

.btn {
  &:not([disabled]) {
    border-radius: 13px;
    font-size: 16px;
    font-weight: 200;
    padding: 2px 12px;
    text-transform: $text-transform;

    &:hover {
      background-color: white;
    }
  }
}

.green-btn {
  background-color: $green-color;
  border: 1px solid $green-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      background-color: $green-color;
      border: 1px solid $green-color;
      color: #fff;
    }
  }
}


.gray-btn {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #55585e;

  &:not([disabled]) {
    &:hover {
      background-color: #e5e4e4;
      color: #55585e;
    }

    &:focus {
      border: 1px solid #55585e;
    }
  }
}


.report {
  @include border;
  background-color: #fff;

  .student {
    margin: 10px 150px 10px 10px;

    .avatar {
      border-radius: 50%;
      height: 70px;
      margin: 15px 20px 15px 100px;
      min-width: 70px;
      width: 70px;
    }

    .name {
      color: #55585e;
      font-size: 20px;
      font-weight: 300;

      .first-name {
        padding-bottom: 5px;
      }
    }
  }
}

.green-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 20px 0 0 20px;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $green-color;
      color: #fff;
    }

    &:focus {
      background-color: $green-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $green-color;
        color: #55585e;

      }

    }
  }
}

.red-group-btn {
  @include btn-font;
  background-color: #fff;
  border: $btn-border;
  border-radius: 0 20px 20px 0;
  color: #e1e1e1;
  text-transform: $text-transform;

  &:not([disabled]) {
    &:hover {
      background-color: $red-color;
      color: #fff;
    }

    &:focus {
      background-color: $red-color;
      border: $btn-border;
      color: #fff;

      &:hover {
        background-color: #fff;
        border: 1px solid $red-color;
        color: #55585e;

      }
    }

  }
}


.group-btn {
  margin: 10px 0;
  min-height: 25px;
  min-width: 200px;
  padding: 3px 15px;

}

.input-time {
  background-color: #fff;
  border: 1px solid transparent;
  color: #6e6b6b;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 30px;
  margin: 0 60px;
  outline: none;
  resize: none;
  text-align: center;
  width: 85px;

  &.time {
    margin:0 5px;
   }
  &:hover {
    border: 1px solid #dfdbdb;
    border-radius: 12px;
  }
}

.blue-btn {
  background-color: $blue-color;
  border: 1px solid $blue-color;
  color: #fff;

  &:not([disabled]) {
    &:hover {
      background-color: #fff;
      color: #55585e;
    }

    &:focus {
      border: 1px solid $blue-color;
    }
  }
}

.blue-select {
  &:not([disabled]) {
    background-color: #fff;
    border-bottom: 2px solid $blue-color;
    font-size: 14px;
    height: 38px;

    .md-select-icon {
      border-bottom: 13px solid $blue-color;
      border-left: 13px solid transparent;
      height: 0;
      left: 6px;
      margin-left: 15px;
      position: relative;
      top: 12px;
      width: 0;

      &::after {
        content: '';
      }
    }
  }
}

.general {
  border: 1px solid #cdcdd5;
  border-radius: 10px;
  color: #82838a;
  font-family: 'Lato', sans-serif;
  height: 75px;
  min-width: 420px;
  padding: 11px 25px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.class-notes {
  height: 125px;
  @extend.general;
}

button {
  &.md-raised {
    border: 1px solid #00bff3;

    &:not([disabled]) {
      .add {
        color: #00bff3;

      }
    }
  }
}
// ToggleMessages //

md-toast .md-toast-content{
  position: relative;
  background-color: #666;

  button {
    position: absolute;
    top: 0;
    right: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
}


.md-top{
  .md-toast-content{
    margin-bottom: 20px;
  }
}

.md-bottom{
  .md-toast-content{
    margin-top: 20px;
  }
}

