<div class='hero-container' md-colors="::{'background-color': 'primary'}">
  <div layout layout-align='center'>
    <md-card class='login-form' layout='column' layout-align='center'>
      <md-toolbar class="md-accent">
        <h3>Reset Password</h3>
      </md-toolbar>

      <form class='md-padding' name='forgotForm' novalidate ng-submit='$ctrl.forgot(user, forgotForm.$valid)' layout='column' >
        <md-card-content layout='column'>
          <md-input-container>
            <label>Email</label>
            <input name='email' ng-model='user.email' type='email' required>
            <div ng-messages="forgotForm.email.$error" role="alert" multiple>
              <div ng-message="required">Email is required</div>
              <div ng-message="email">Must be a valid email address.</div>
            </div>
          </md-input-container>
        </md-card-content>

        <md-card-actions>
          <md-button class='md-raised md-accent' type='submit'>Reset password</md-button>
        </md-card-actions>
        <md-button class="md-primary" ui-sref="login">Sign in</md-button>
      </form>
    </md-card>
  </div>
</div>
