<div ng-if="$ctrl.showDiv">
  <div class="profile-title">
    <h1>Profile of {{$ctrl.fullname}}</h1>
  </div>

  <div layout="row" class="profile-main"  layout-align="none">
    <div flex="50" >
      <img alt="Avatar 4" src="https://letsshareapps.s3.amazonaws.com/teachers/logos/000/000/003/medium/avatar-4.png?1476046377">
    </div>

    <div flex="50">
      <div layout="row" class="profile-main-info">
        <div flex="50">
          <b>Name:</b>{{$ctrl.fullname}}
        </div>
      </div>

      <div layout="row" class="profile-main-info">
        <div flex="50">
          <b>Phone:</b>{{$ctrl.teacher.phone}}
        </div>
      </div>

      <div layout="row" class="profile-main-info">
        <div flex="50">
          <b>Email:</b>{{$ctrl.teacher.email}}
        </div>
      </div>

      <div layout="row" class="profile-main-info">
        <div flex="50">
          <b>Language:</b>{{$ctrl.teacher.locale}}
        </div>
      </div>

      <div layout="row">
        <div flex="50">
        </div>
        <div flex="50">
          <md-button class="btn green-btn" ng-click="$ctrl.showDiv=false">Edit</md-button>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="!$ctrl.showDiv">
  <div class="profile-title ">
    <h1>Edit profile</h1>
  </div>

  <div layout="row" layout-align="none" class="profile-main profile-title-update">
    <div flex="50">
      <img alt="Avatar 4" src="https://letsshareapps.s3.amazonaws.com/teachers/logos/000/000/003/medium/avatar-4.png?1476046377">
    </div>

    <div flex="50">
      <div layout="row" class="profile-main-info"  layout-align="center center">
        <div flex="20">
          <b>First Name:</b>
        </div>
        <div flex="80">
          <md-input-container class="profile-input-container">
            <label>First Name</label>
            <input type="text" ng-model="$ctrl.teacher.first_name" required md-maxlength="25">
          </md-input-container>
        </div>
      </div>

      <div layout="row" class="profile-main-info" layout-align="center center">
        <div flex="20">
          <b>Last Name:</b>
        </div>
        <div flex="80">
          <md-input-container class="profile-input-container">
            <label>Last Name</label>
            <input type="text" ng-model="$ctrl.teacher.last_name" required md-maxlength="25">
          </md-input-container>
        </div>
      </div>

      <div layout="row" class="profile-main-info" layout-align="center center">
        <div flex="20">
          <b>Phone:</b>
        </div>
        <div flex="80">
          <md-input-container class="profile-input-container">
            <label>Phone</label>
            <input type="text" ng-model="$ctrl.teacher.phone" required md-maxlength="9">
          </md-input-container>
        </div>
      </div>

      <div layout="row" class="profile-main-info" layout-align="center center">
        <div flex="20">
          <b>Email:</b>
        </div>
        <div flex="80">
          <md-input-container class="profile-input-container">
            <label>Email</label>
            <input type="text" ng-model="$ctrl.teacher.email" required md-maxlength="25">
          </md-input-container>
        </div>
      </div>

      <div layout="row" class="profile-main-info" layout-align="center center">
        <div flex="20">
          <b>Language:</b>
        </div>
        <div flex="80">
          <md-select flex="45"
                     name="teacher"
                     ng-model="$ctrl.teacher.locale"
                     placeholder="$ctrl.teacher.locale">
            <md-option value="en">English</md-option>
            <md-option value="ua">Українська</md-option>
          </md-select>
        </div>
      </div>

      <div layout="row">
        <div flex="50">
        </div>
        <div flex="25">
          <md-button ng-click="showDiv=false; $ctrl.renderProfile()" class="btn gray-btn">Cancel</md-button>
        </div>
        <div flex="25">
          <md-button class="btn green-btn"
                     ng-click="$ctrl.profileUpdate($ctrl.teacher);
                               showDiv=false;
                               $ctrl.renderProfile()">
                               Update
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
