<header class="header" layout="row" layout-align="space-between center">
    <div class="logo">
      <img src="app/img/profile/logo.gif" alt="logo">
    </div>

      <md-select class="group-select" ng-model="$ctrl.currentGroupDay.group_id" >
        <md-option ng-value="group.id" ng-repeat="group in $ctrl.groups">
          {{ group.name }}
        </md-option>
      </md-select>
    <md-button class="user-button" layout="row" layout-align="center center">
    <span class="username">Jesica Alba</span>
      <md-menu md-position-mode="target-right bottom">
      <md-icon ng-click="$mdOpenMenu()">expand_more</md-icon>
      <md-menu-content width="3">
      <md-menu-item>
        <md-button>Profile</md-button>
      </md-menu-item>
      <md-menu-divider role="separator"></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="$ctrl.logout()">Sign out</md-button>
      </md-menu-item>
    </md-menu-content>
    </md-menu>
    </md-button>
</header>
<side-bar></side-bar>
